{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- about-area start -->
  <div class="about-area pt-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-img black-opacity">
                    <img src="{% static 'images/about/1.jpg' %}" alt="">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=NjwUHXoi8lM"><i class="fa fa-play"></i></a>
                    <h3>Watch this video <span>and you know about us.</span></h3>
                </div>
                <div class="about-content">
                    <h3>Neque porro quisquam est main dolorem ventore veritatis et quasi <span>architecto beatae vitae dicta sunt explicabo</span> </h3>
                    <p>Sit felis sed risus eros, et sem blandit proin, praesent sit pede ac. Purus nesciunt in amet integer massa. Tincidunt eget orci convallis ante, facilisis nulla, rutrum posuere amet pentesque proin parturient. Lectus ut rhoncus porttitor sed id morbi, vestibulum vivamus in eu, eget hendrerit malesuada leo leo,placerat ante. Penatibus odio placerat lobortis penatibsagittis quis amet quam pede, ut arcu nibh ultricies purus, placerat sapiente per risus elit et purus. Nunc lobortis, vitae aliquam, sed lorem. Suscipit nulla urna conubia nisl, ametad malesuada mauris, nullam sit, excepteur mollis a sit duis praesent, pellentesque posuere ornare sodales odio massa lorem.</p>
                    <blockquote> Tesque proin parturient. Lectus ut rhoncus porttitor sed id morbi, vestibulum vivamus in eu, eget hendrerit malesuada leo placern atibusm sagittis quis amet quam pede, ut arcu nibh ultricies purus, placerat sapiente per risus elit et purus. Nunc lobortis, vitae aliquam, sed loremu scipit ad malesuada mauris, nullam mollis.</blockquote>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-images">
                                <img src="{% static 'images/about/2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-text">
                                <p>Sit felis sed risus eros, et sem blandit proin, praesent sit pede ac. Purus nesc unt in amet integer massa. Tincidunt eget orci convallis ante, facilisis nulla rutrum posuere amet pen tesque proin parturient. Lectus ut rhoncus porttitor sed id morbi, vestibulum vivamus in eu, eget hendrerit malesuada leo placer enatibus odio placerat lobortis penatib sagittis.</p>
                                <p>Sit felis sed risus eros, et sem blandit proin, praesent sit pede ac. Purus nesc unt in amet integer massa. Tincidunt eget orci convallis ante, facilisis nulla rutrum posuere amet pen tesque proin parturient.</p>
                                <p>Sit felis sed risus eros, et sem blandit proin, praesent sit pede ac. Purus nesc unt in amet integer massa. Tincidunt eget orci convallis ante, facilisis nulla rutrum posuere amet pen tesque proin parturient.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area end -->
{% endblock %}