{% load static %}
   <!-- footer-area start -->
   <footer class="footer-area">
    <div class="footer-top-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="footer-widget footer-logo">
                        <img src="{% static 'images/logo.png' %}" alt="">
                        <p>Duis autem vel eum iriure dolor in hendrerit in esse molestie consemuat vel illum dolore eugt nulla facilisis at vero eros accum.</p>
                        <p>Esse molestie consequat vel illum dolore eugt nulla facilisis at vero eros accum.</p>
                        <ul>
                            <li>
                                <span>Address:</span> 70 Bowman St.South
                                <br> Windsor, CT 06074
                            </li>
                            <li>
                                <span>Contact:</span> +00 568 468 968
                                <br> +00 469 856 576
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="footer-widget widget_recent_entries">
                        <ul>
                            <li>
                                <div class="widget_recent_entries-img">
                                    <img src="{% static 'images/footer/1.jpg' %}" alt="">
                                </div>
                                <div class="widget_recent_entries-content">
                                    <h3><a href="blog-details.html">Defying the traditional and mainstream parties courtesy marche.</a></h3>
                                    <h4>Naomi Jefferson</h4>
                                    <span>15 December, 17</span>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_entries-img">
                                    <img src="{% static 'images/footer/2.jpg' %}" alt="">
                                </div>
                                <div class="widget_recent_entries-content">
                                    <h3><a href="blog-details.html">Packing macron anddis insted about vote against chat bubbleo head.</a></h3>
                                    <h4>Naomi Jefferson</h4>
                                    <span>15 December, 17</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="footer-widget widget_recent_entries">
                        <ul>
                            <li>
                                <div class="widget_recent_entries-img">
                                    <img src="{% static 'images/footer/3.jpg' %}" alt="">
                                </div>
                                <div class="widget_recent_entries-content">
                                    <h3><a href="blog-details.html">British military courts aginst protester business cultural protocol.</a></h3>
                                    <h4>Naomi Jefferson</h4>
                                    <span>15 December, 17</span>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_entries-img">
                                    <img src="{% static 'images/footer/2.jpg' %}" alt="">
                                </div>
                                <div class="widget_recent_entries-content">
                                    <h3><a href="blog-details.html">Packing macron anddis insted about vote against chat bubbleo head.</a></h3>
                                    <h4>Naomi Jefferson</h4>
                                    <span>15 December, 17</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <p>Copyright 2017, All right reserved <span>Developed by <a href="#">Blogmaster.</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area end -->